@model Blog.Models.OneArticle

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = Model.Article.Name;
}

<div class="row">
	<div class="col-md-4">
		<div class="article-flex">
			<div class="article-flex-1">
				<div class="article-name">
					<h3>@Model.Article.Name</h3>
				</div>
				<div class="article-category">
					<h3>@Model.Category.Name</h3>
					<p>@Model.Article.DateTime</p>
				</div>
			</div>
		</div>
		<h4>@Model.Article.ShortDescription</h4>
		<p>@Model.Article.Description</p>
		<p>
			@foreach(var teg in Model.Tegs){
			<a href="~/Articles/Tegs?id_teg=@teg.Teg_Id">@teg.Name</a>
			}
		</p>
	</div>
</div>

