@model Blog.Models.ViewCategory

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Категории";
}

<h2>Категории</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div class="row">
		<div class="form-horizontal">
				@{
					int length = Model.Categories.Count / 4;
					int count = 0;
					for (int i = count; i < length * 4; i += 4)
					{
							<div class="row col-md-10">
								@for (int j = 0; j < 4; j++)
								{
									<div class="col-sm-3">
										<a href="/Categories/Category?id_category=@Model.Categories[i + j].Category_Id&id_page=1"><h3>@Model.Categories[i + j].Name</h3></a>
										@{
											if (HttpContext.Current.User.Identity.IsAuthenticated && Model.Categories[i + j].Name != "Без категории")
											{
												<a href="/Categories/Delete?id_category=@Model.Categories[i + j].Category_Id">Удалить</a>
												<a href="/Categories/Edit?id_category=@Model.Categories[i + j].Category_Id">Редактировать</a>
											}
										}
									</div>
										}
								</div>
						count = i + 4;
					}

					<div class="row col-md-10">
						@for (int i = count; i < Model.Categories.Count; i++)
						{
							<div class="col-sm-3">
							<a href="~/Categories/Category?id_category=@Model.Categories[i].Category_Id&id_page=1"><h3>@Model.Categories[i].Name</h3></a>
							@{
								if (HttpContext.Current.User.Identity.IsAuthenticated && Model.Categories[i].Name != "Без категории")
								{
									<a href="/Categories/Delete?id_category=@Model.Categories[i].Category_Id">Удалить</a>
									<a href="/Categories/Edit?id_category=@Model.Categories[i].Category_Id">Редактировать</a>
								}
							}
							</div>
						}
					</div>

				}
		
			@if (HttpContext.Current.User.Identity.IsAuthenticated)
			{

			<hr />
			<div class="col-md-10">
			<h3>Добавить категорию</h3>

			@Html.ValidationSummary("Допустимые символы: буквы лaтинского и русского алфавитов и цифры. Допустимая длина: 1 - 15 символов", new { @class = "text-danger" })
			<div class="form-group">
				@Html.LabelFor(model => model.NewCategory.Name, "Категория", htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.NewCategory.Name, new { htmlAttributes = new { @class = "form-control category", @autocomplete = "off", @required = "on", @placeholder = "Введите категорию", @pattern = "^[А-Яа-яЁёA-Za-z\\d]{1, 15}$" } })
				</div>
			</div>



			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Добавить" class="btn btn-default" />
				</div>
			</div>
			</div>
			}
		</div>
	</div>
	}
